<footer class="footer pt-10 pt-md-20 pb-10 pb-md-20">
  <div class="container">
    <div class="row justify-content-md-between">
      <div class="footer-content col-12 col-md-auto text-center text-md-start mb-10 mb-md-0">
        <a class="footer-brand d-block mx-auto mx-md-0 mb-6" href="index.html">Noel's website</a>
        <p class="footer-text mb-6">
          若有數位產品設計和開發相關問題<br />
          歡迎填寫表單，或直接與我聯絡！
        </p>
        <a href="mailto:service@hexschool.com" class="footer-contact text-gray-500">service@hexschool.com</a>
      </div>
      <ul class="sns list-unstyled col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column mb-0">
        <li class="sns-item mb-6">
          <a href="#" class="btn btn-dark d-flex align-items-center">
            <img src="/assets/images/list.svg" alt="list icon" class="me-2" />
            填寫表單
          </a>
        </li>
        <li class="sns-item mb-6">
          <a href="#" class="btn btn-light d-flex align-items-center border border-2">
            <img src="/assets/images/instagram.svg" alt="instagram icon" class="me-2" />
            hexschool_demo
          </a>
        </li>
        <li class="sns-item">
          <a href="#" class="btn btn-light d-flex align-items-center border border-2">
            <img src="/assets/images/facebook.svg" alt="facebook icon" class="me-2" />
            hexschoolTW
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
