<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom fixed-top py-md-7">
  <div class="container">
    <a class="navbar-brand me-0" href="index.html">Noel's website</a>
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0 py-10 py-md-0">
        <li class="nav-item text-center mb-6 mb-md-0 me-md-4 me-lg-10">
          <span class="nav-link-decoration position-relative"><a class="nav-link d-inline p-2 position-relative active" aria-current="page" href="index.html">首頁</a></span>
        </li>
        <li class="nav-item text-center mb-6 mb-md-0 me-md-4 me-lg-10">
          <span class="nav-link-decoration position-relative"><a class="nav-link d-inline p-2 position-relative" href="portfolio.html">作品集</a></span>
        </li>
        <li class="nav-item text-center mb-6 mb-md-0 me-md-4 me-lg-10">
          <span class="nav-link-decoration position-relative"><a class="nav-link d-inline p-2 position-relative" href="service.html">服務項目</a></span>
        </li>
        <li class="nav-item text-center mb-6 mb-md-0 me-md-4 me-lg-10">
          <span class="nav-link-decoration position-relative"><a class="nav-link d-inline p-2 position-relative" href="blog.html">部落格</a></span>
        </li>
        <li class="nav-item text-center">
          <span class="nav-link-decoration position-relative"><a class="nav-link d-inline p-2 position-relative" href="#">聯絡我</a></span>
        </li>
      </ul>
    </div>
  </div>
</nav>
