.footer {
  background: url('/assets/images/footer-bg-sm.png') no-repeat;
  background-size: cover;

  @include pad {
    background-image: url('/assets/images/footer-bg-lg.png');
  }

  &-brand {
    width: 120px;
    height: 54px;
    background: url('/assets/images/logo.svg') no-repeat;
    background-size: cover;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
