.navbar {
  &-brand {
    display: block;
    width: 90px;
    height: 40px;
    background: url('/assets/images/logo.svg') no-repeat;
    background-size: cover;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &-collapse {
    @include pad {
      position: absolute;
      left: calc(50% - 16.8px);
      transform: translateX(calc(-50% + 16.8px));
    }
  }
}

.nav-link {
  &.active {
    font-weight: 600;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    transition: all 0.3s;
    top: 0;
    border-top: 1px solid transparent;
  }

  &::before {
    left: 0;
    border-left: 1px solid transparent;
  }

  &::after {
    right: 0;
    border-right: 1px solid transparent;
  }

  &:hover::before,
  &:hover::after {
    border-color: $gray-500;
  }

  &-decoration {
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      transition: all 0.3s;
      bottom: -8px;
      border-bottom: 1px solid transparent;
    }

    &::before {
      left: 0;
      border-left: 1px solid transparent;
    }

    &::after {
      right: 0;
      border-right: 1px solid transparent;
    }

    &:hover::before,
    &:hover::after {
      border-color: $gray-500;
    }
  }
}
