.service {
  &-process {
    background: url('/assets/images/process-bg.png') no-repeat center center;
    background-size: cover;

    &-step {
      font-family: 'Tourney', sans-serif;
      font-size: 3rem;

      @include pad {
        font-size: 4.5rem;
      }
    }
  }
}

.hyphen {
  width: 28px;
  border: 1px solid $gray-400;
}
