<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head'); -%>
  <body>
    <%- include('./layout/header'); -%>

    <main class="pt-14 pt-md-24">
      <div class="hero d-flex flex-column flex-lg-row-reverse">
        <div class="hero-image mb-10 mb-lg-0"></div>
        <div class="hero-text d-flex flex-column justify-content-lg-center align-items-lg-center">
          <div class="text-center text-lg-start">
            <h2 class="fs-2 fw-bold mb-6">Hi！我是 Noel</h2>
            <p class="fs-5">
              具有 10 年經驗的<br class="d-lg-none" /><span class="hero-text-decoration position-relative">資深 UI 設計師</span>兼<span class="hero-text-decoration position-relative">前端工程師</span><br />
              技術雙修並行，<br class="d-lg-none" />熱衷於優化使用者的網頁體驗
            </p>
            <p class="text-gray-400 mb-6">
              WEB DEVELOPMENT / BRANDING / <br class="d-lg-none" />
              UI / UX / APP DESIGN
            </p>
          </div>
          <ul class="list-unstyled d-flex justify-content-center justify-content-lg-start mb-0">
            <li class="me-4">
              <a href="#"><img src="/assets/images/instagram.svg" alt="instagram icon" class="hero-sns-link" /></a>
            </li>
            <li class="me-4">
              <a href="#"><img src="/assets/images/facebook.svg" alt="facebook icon" class="hero-sns-link" /></a>
            </li>
            <li>
              <a href="#"><img src="/assets/images/youtube.svg" alt="youtube icon" class="hero-sns-link" /></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="work pt-20 pt-md-30 mb-20 mb-lg-0">
        <h2 class="title fs-4 fs-lg-2 fw-bold text-center mb-10 mb-md-16 mb-lg-20">作品介紹</h2>
        <ul class="work-list list-unstyled mb-0">
          <li class="work-item mb-12 mb-lg-0">
            <div class="work-mobile d-lg-none">
              <div class="work-mobile-image-wrapper position-relative mb-6 pt-24" style="background-image: url('/assets/images/homepage-work-1-bg.png')">
                <img src="/assets/images/homepage-work-1.png" alt="work image" class="work-mobile-image d-block mx-auto" />
              </div>
              <div class="work-mobile-content text-center">
                <h3 class="fs-3 fw-bold">星際旅行訂票平台</h3>
                <p class="text-gray-600">悠遊宇宙的夢想，從這裡開始實現</p>
                <ul class="label-list list-unstyled d-flex flex-wrap justify-content-center">
                  <li class="label-item">
                    <a href="#" class="label-link">網頁設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">響應式設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">Bootstrap</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-dark btn-lg">
                  <div class="d-flex align-items-center">
                    <span class="me-2">完整介紹</span>
                    <span class="material-symbols-rounded">arrow_forward</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="work-desktop d-none d-lg-block">
              <div class="work-desktop-background container-fluid position-relative" style="background-image: url('/assets/images/homepage-work-1-bg.png')">
                <div class="row justify-content-between">
                  <div class="work-desktop-image-wrapper">
                    <img src="/assets/images/homepage-work-1.png" alt="work image" class="work-desktop-image d-block w-100 mt-20" />
                  </div>
                  <div class="col-lg-5 align-self-center">
                    <div class="work-desktop-content text-white px-10 py-20">
                      <h3 class="fs-3 fw-bold">星際旅行訂票平台</h3>
                      <p>悠遊宇宙的夢想，從這裡開始實現</p>
                      <ul class="label-list list-unstyled d-flex flex-wrap border-bottom border-white pb-6 mb-10">
                        <li class="label-item">
                          <a href="#" class="label-link">網頁設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">響應式設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">Bootstrap</a>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-dark btn-lg d-block mx-auto px-8 py-4">
                        <div class="d-flex align-items-center">
                          <span class="me-2">完整介紹</span>
                          <span class="material-symbols-rounded">arrow_forward</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="work-item mb-12 mb-lg-0">
            <div class="work-mobile d-lg-none">
              <div class="work-mobile-image-wrapper work-mobile-image-none position-relative mb-6" style="background-image: url('/assets/images/homepage-work-2-lg.png'); padding-bottom: 80%">
                <img src="" alt="" class="work-mobile-image d-block mx-auto" />
              </div>
              <div class="work-mobile-content text-center">
                <h3 class="fs-3 fw-bold">理財 APP</h3>
                <p class="text-gray-600">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
                <ul class="label-list list-unstyled d-flex flex-wrap justify-content-center">
                  <li class="label-item">
                    <a href="#" class="label-link">APP 設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">iOS</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">React</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-dark btn-lg">
                  <div class="d-flex align-items-center">
                    <span class="me-2">完整介紹</span>
                    <span class="material-symbols-rounded">arrow_forward</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="work-desktop d-none d-lg-block">
              <div class="work-desktop-background work-desktop-image-none container-fluid position-relative" style="background-image: url('/assets/images/homepage-work-2-lg.png')">
                <div class="row justify-content-between flex-row-reverse">
                  <div class="work-desktop-image-wrapper">
                    <img src="" alt="" class="work-desktop-image d-block w-100 mt-20" />
                  </div>
                  <div class="col-lg-5 align-self-center" style="padding: 200px 12px">
                    <div class="work-desktop-content text-white px-10 py-20">
                      <h3 class="fs-3 fw-bold">理財 APP</h3>
                      <p>連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
                      <ul class="label-list list-unstyled d-flex flex-wrap border-bottom border-white pb-6 mb-10">
                        <li class="label-item">
                          <a href="#" class="label-link">APP 設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">iOS</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">React</a>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-dark btn-lg d-block mx-auto px-8 py-4">
                        <div class="d-flex align-items-center">
                          <span class="me-2">完整介紹</span>
                          <span class="material-symbols-rounded">arrow_forward</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="work-item">
            <div class="work-mobile d-lg-none">
              <div class="work-mobile-image-wrapper position-relative mb-6 py-24" style="background-image: url('/assets/images/homepage-work-3-bg.png')">
                <img src="/assets/images/homepage-work-3.png" alt="work image" class="work-mobile-image d-block mx-auto" />
              </div>
              <div class="work-mobile-content text-center">
                <h3 class="fs-3 fw-bold">醫美診所官網</h3>
                <p class="text-gray-600">永保青春的秘密，從粹究開始</p>
                <ul class="label-list list-unstyled d-flex flex-wrap justify-content-center">
                  <li class="label-item">
                    <a href="#" class="label-link">網頁設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">響應式設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">WordPress</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-dark btn-lg">
                  <div class="d-flex align-items-center">
                    <span class="me-2">完整介紹</span>
                    <span class="material-symbols-rounded">arrow_forward</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="work-desktop d-none d-lg-block">
              <div class="work-desktop-background container-fluid position-relative" style="background-image: url('/assets/images/homepage-work-3-bg.png')">
                <div class="row justify-content-between">
                  <div class="work-desktop-image-wrapper">
                    <img src="/assets/images/homepage-work-3.png" alt="work image" class="work-desktop-image d-block w-100 mb-30" style="margin-top: 190px" />
                  </div>
                  <div class="col-lg-5 align-self-center">
                    <div class="work-desktop-content text-white px-10 py-20">
                      <h3 class="fs-3 fw-bold">醫美診所官網</h3>
                      <p>永保青春的秘密，從粹究開始</p>
                      <ul class="label-list list-unstyled d-flex flex-wrap border-bottom border-white pb-6 mb-10">
                        <li class="label-item">
                          <a href="#" class="label-link">網頁設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">響應式設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">WordPress</a>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-dark btn-lg d-block mx-auto px-8 py-4">
                        <div class="d-flex align-items-center">
                          <span class="me-2">完整介紹</span>
                          <span class="material-symbols-rounded">arrow_forward</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="service-bg bg-gray-200">
        <div class="container py-20 py-md-30">
          <h2 class="title fs-4 fs-lg-2 fw-bold text-center mb-10 mb-md-16 mb-lg-20">服務項目</h2>
          <ul class="row list-unstyled mb-10 mb-lg-20">
            <li class="col-md-6 col-lg-3 mb-6 mb-lg-0">
              <div class="service-item position-relative rounded-3 mx-auto">
                <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                  <img src="/assets/images/service-item-visual.svg" alt="service item image" class="mb-2 mb-lg-4" />
                  <p class="text-white fs-4 fs-lg-3 fw-blod">平面設計</p>
                </div>
              </div>
            </li>
            <li class="col-md-6 col-lg-3 mb-6 mb-lg-0">
              <div class="service-item position-relative rounded-3 mx-auto">
                <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                  <img src="/assets/images/service-item-ui.svg" alt="service item image" class="mb-2 mb-lg-4" />
                  <p class="text-white fs-4 fs-lg-3 fw-blod">UI 設計</p>
                </div>
              </div>
            </li>
            <li class="col-md-6 col-lg-3 mb-6 mb-md-0">
              <div class="service-item position-relative rounded-3 mx-auto">
                <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                  <img src="/assets/images/service-item-html&css.svg" alt="service item image" class="mb-2 mb-lg-4" />
                  <p class="text-white fs-4 fs-lg-3 fw-blod">切版服務</p>
                </div>
              </div>
            </li>
            <li class="col-md-6 col-lg-3">
              <div class="service-item position-relative rounded-3 mx-auto">
                <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                  <img src="/assets/images/service-item-front-end.svg" alt="service item image" class="mb-2 mb-lg-4" />
                  <p class="text-white fs-4 fs-lg-3 fw-blod">前端開發</p>
                </div>
              </div>
            </li>
          </ul>
          <div class="text-center">
            <h3 class="fs-5 fs-lg-3 fw-bold mb-6 mb-lg-10">想要合作或瞭解更多？</h3>
            <button type="button" class="btn btn-dark btn-lg d-lg-block mx-lg-auto px-lg-8 py-lg-4">
              <div class="d-flex align-items-center">
                <span class="me-2">詳細內容與合作流程</span>
                <span class="material-symbols-rounded">arrow_forward</span>
              </div>
            </button>
          </div>
        </div>
      </div>

      <div class="article container py-20 py-md-30">
        <h2 class="title fs-4 fs-lg-2 fw-bold text-center mb-10 mb-md-16 mb-lg-20">精選文章</h2>
        <div class="article-swiper swiper pb-md-10">
          <ul class="swiper-wrapper list-unstyled">
            <li class="swiper-slide">
              <div class="card border-0">
                <img src="/assets/images/article-image-1.png" alt="article image" class="card-img-top rounded-3" />
                <div class="card-body px-2">
                  <h3 class="card-title fs-5 fw-bold mb-4">Vision Pro 登場！Vision Pro UI/UX 設計重點大公開（上）</h3>
                  <div class="d-flex justify-content-between">
                    <div class="label-item px-0">
                      <a href="#" class="label-link">UI / UX 新知</a>
                    </div>
                    <p class="text-gary-600 fs-6">2024/02/10</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="card border-0">
                <img src="/assets/images/article-image-2.png" alt="article image" class="card-img-top rounded-3" />
                <div class="card-body px-2">
                  <h3 class="card-title fs-5 fw-bold mb-4">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南（下）</h3>
                  <div class="d-flex justify-content-between">
                    <div class="label-item px-0">
                      <a href="#" class="label-link">UI / UX 新知</a>
                    </div>
                    <p class="text-gary-600 fs-6">2023/11/20</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="card border-0">
                <img src="/assets/images/article-image-3.png" alt="article image" class="card-img-top rounded-3" />
                <div class="card-body px-2">
                  <h3 class="card-title fs-5 fw-bold mb-4">給設計師和工程師的 Figma-Dev Mode 開發模式使用指南（上）</h3>
                  <div class="d-flex justify-content-between">
                    <div class="label-item px-0">
                      <a href="#" class="label-link">UI / UX 新知</a>
                    </div>
                    <p class="text-gary-600 fs-6">2023/10/18</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="card border-0">
                <img src="/assets/images/article-image-4.png" alt="article image" class="card-img-top rounded-3" />
                <div class="card-body px-2">
                  <h3 class="card-title fs-5 fw-bold mb-4">虛擬實境（VR）介面設計對使用者沈浸感影響的研究</h3>
                  <div class="d-flex justify-content-between">
                    <div class="label-item px-0">
                      <a href="#" class="label-link">數位產品設計</a>
                    </div>
                    <p class="text-gary-600 fs-6">2023/09/20</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="card border-0">
                <img src="/assets/images/article-image-5.png" alt="article image" class="card-img-top rounded-3" />
                <div class="card-body px-2">
                  <h3 class="card-title fs-5 fw-bold mb-4">想打到目標受眾？先讓設計師跟你都瞭解他們痛在哪！</h3>
                  <div class="d-flex justify-content-between">
                    <div class="label-item px-0">
                      <a href="#" class="label-link">數位產品設計</a>
                    </div>
                    <p class="text-gary-600 fs-6">2023/08/10</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="card border-0">
                <img src="/assets/images/article-image-6.png" alt="article image" class="card-img-top rounded-3" />
                <div class="card-body px-2">
                  <h3 class="card-title fs-5 fw-bold mb-4">React vs. Vue，哪種前端框架比較好用？從三大面向談起</h3>
                  <div class="d-flex justify-content-between">
                    <div class="label-item px-0">
                      <a href="#" class="label-link">前端開發</a>
                    </div>
                    <p class="text-gary-600 fs-6">2023/07/03</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="swiper-pagination d-flex justify-content-center gap-4"></div>
        </div>
        <button type="button" class="btn btn-dark btn-lg d-block d-md-none mx-auto">
          <div class="d-flex align-items-center">
            <span class="me-2">更多文章</span>
            <span class="material-symbols-rounded">arrow_forward</span>
          </div>
        </button>
      </div>
    </main>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module">
      import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';

      const swiper = new Swiper('.article-swiper', {
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        grid: {
          rows: 3,
        },
        breakpoints: {
          768: {
            grid: {
              rows: 1,
            },
            slidesPerView: 2,
            slidesPerGroup: 2,
            spaceBetween: 24,
          },
          992: {
            grid: {
              rows: 1,
            },
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 24,
          },
        },
      });
    </script>
  </body>
</html>
