<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head'); -%>
  <body>
    <%- include('./layout/header'); -%>

    <main class="pt-14 pt-md-24">
      <div class="hero d-flex flex-column flex-lg-row-reverse">
        <div class="hero-image mb-10 mb-lg-0"></div>
        <div class="hero-text d-flex flex-column justify-content-lg-center align-items-lg-center">
          <div class="text-center text-lg-start">
            <h2 class="fs-2 fw-bold mb-6">Hi！我是 Noel</h2>
            <p class="fs-5">
              具有 10 年經驗的<br class="d-lg-none" /><span class="hero-text-decoration position-relative">資深 UI 設計師</span>兼<span class="hero-text-decoration position-relative">前端工程師</span><br />
              技術雙修並行，<br class="d-lg-none" />熱衷於優化使用者的網頁體驗
            </p>
            <p class="text-gray-400 mb-6">
              WEB DEVELOPMENT / BRANDING / <br class="d-lg-none" />
              UI / UX / APP DESIGN
            </p>
          </div>
          <ul class="list-unstyled d-flex justify-content-center justify-content-lg-start mb-0">
            <li class="me-4">
              <a href="#"><img src="/assets/images/instagram.svg" alt="instagram icon" class="hero-sns-link" /></a>
            </li>
            <li class="me-4">
              <a href="#"><img src="/assets/images/facebook.svg" alt="facebook icon" class="hero-sns-link" /></a>
            </li>
            <li>
              <a href="#"><img src="/assets/images/youtube.svg" alt="youtube icon" class="hero-sns-link" /></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="work pt-20 pt-md-30">
        <h2 class="title fs-4 fs-lg-2 fw-bold text-center mb-10 mb-md-16 mb-lg-20">作品介紹</h2>
        <ul class="work-list list-unstyled mb-0">
          <li class="work-item mb-12 mb-lg-0">
            <div class="work-mobile d-lg-none">
              <div class="work-mobile-image-wrapper position-relative mb-6 pt-24" style="background-image: url('/assets/images/homepage-work-1-bg.png')">
                <img src="/assets/images/homepage-work-1.png" alt="work image" class="work-mobile-image d-block mx-auto" />
              </div>
              <div class="work-mobile-content text-center">
                <h3 class="fs-3 fw-bold">星際旅行訂票平台</h3>
                <p class="text-gray-600">悠遊宇宙的夢想，從這裡開始實現</p>
                <ul class="label-list list-unstyled d-flex flex-wrap justify-content-center">
                  <li class="label-item">
                    <a href="#" class="label-link">網頁設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">響應式設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">Bootstrap</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-dark btn-lg">
                  <div class="d-flex align-items-center">
                    <span class="me-2">完整介紹</span>
                    <span class="material-symbols-rounded">arrow_forward</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="work-desktop d-none d-lg-block">
              <div class="work-desktop-background container-fluid position-relative" style="background-image: url('/assets/images/homepage-work-1-bg.png')">
                <div class="row justify-content-between">
                  <div class="work-desktop-image-wrapper">
                    <img src="/assets/images/homepage-work-1.png" alt="work image" class="work-desktop-image d-block w-100 mt-20" />
                  </div>
                  <div class="col-lg-5 align-self-center">
                    <div class="work-desktop-content text-white px-10 py-20">
                      <h3 class="fs-3 fw-bold">星際旅行訂票平台</h3>
                      <p>悠遊宇宙的夢想，從這裡開始實現</p>
                      <ul class="label-list list-unstyled d-flex flex-wrap border-bottom border-white pb-6 mb-10">
                        <li class="label-item">
                          <a href="#" class="label-link">網頁設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">響應式設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">Bootstrap</a>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-dark btn-lg d-block mx-auto px-8 py-4">
                        <div class="d-flex align-items-center">
                          <span class="me-2">完整介紹</span>
                          <span class="material-symbols-rounded">arrow_forward</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="work-item mb-12 mb-lg-0">
            <div class="work-mobile d-lg-none">
              <div class="work-mobile-image-wrapper work-mobile-image-none position-relative mb-6" style="background-image: url('/assets/images/homepage-work-2-lg.png'); padding-bottom: 80%">
                <img src="" alt="" class="work-mobile-image d-block mx-auto" />
              </div>
              <div class="work-mobile-content text-center">
                <h3 class="fs-3 fw-bold">理財 APP</h3>
                <p class="text-gray-600">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
                <ul class="label-list list-unstyled d-flex flex-wrap justify-content-center">
                  <li class="label-item">
                    <a href="#" class="label-link">APP 設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">iOS</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">React</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-dark btn-lg">
                  <div class="d-flex align-items-center">
                    <span class="me-2">完整介紹</span>
                    <span class="material-symbols-rounded">arrow_forward</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="work-desktop d-none d-lg-block">
              <div class="work-desktop-background work-desktop-image-none container-fluid position-relative" style="background-image: url('/assets/images/homepage-work-2-lg.png')">
                <div class="row justify-content-between flex-row-reverse">
                  <div class="work-desktop-image-wrapper">
                    <img src="" alt="" class="work-desktop-image d-block w-100 mt-20" />
                  </div>
                  <div class="col-lg-5 align-self-center" style="padding: 200px 12px">
                    <div class="work-desktop-content text-white px-10 py-20">
                      <h3 class="fs-3 fw-bold">理財 APP</h3>
                      <p>連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
                      <ul class="label-list list-unstyled d-flex flex-wrap border-bottom border-white pb-6 mb-10">
                        <li class="label-item">
                          <a href="#" class="label-link">APP 設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">iOS</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">React</a>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-dark btn-lg d-block mx-auto px-8 py-4">
                        <div class="d-flex align-items-center">
                          <span class="me-2">完整介紹</span>
                          <span class="material-symbols-rounded">arrow_forward</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="work-item mb-12 mb-lg-0">
            <div class="work-mobile d-lg-none">
              <div class="work-mobile-image-wrapper position-relative mb-6 py-24" style="background-image: url('/assets/images/homepage-work-3-bg.png')">
                <img src="/assets/images/homepage-work-3.png" alt="work image" class="work-mobile-image d-block mx-auto" />
              </div>
              <div class="work-mobile-content text-center">
                <h3 class="fs-3 fw-bold">醫美診所官網</h3>
                <p class="text-gray-600">永保青春的秘密，從粹究開始</p>
                <ul class="label-list list-unstyled d-flex flex-wrap justify-content-center">
                  <li class="label-item">
                    <a href="#" class="label-link">網頁設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">響應式設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">WordPress</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-dark btn-lg">
                  <div class="d-flex align-items-center">
                    <span class="me-2">完整介紹</span>
                    <span class="material-symbols-rounded">arrow_forward</span>
                  </div>
                </button>
              </div>
            </div>
            <div class="work-desktop d-none d-lg-block">
              <div class="work-desktop-background container-fluid position-relative" style="background-image: url('/assets/images/homepage-work-3-bg.png')">
                <div class="row justify-content-between">
                  <div class="work-desktop-image-wrapper">
                    <img src="/assets/images/homepage-work-3.png" alt="work image" class="work-desktop-image d-block w-100 mb-30" style="margin-top: 190px" />
                  </div>
                  <div class="col-lg-5 align-self-center">
                    <div class="work-desktop-content text-white px-10 py-20">
                      <h3 class="fs-3 fw-bold">醫美診所官網</h3>
                      <p>永保青春的秘密，從粹究開始</p>
                      <ul class="label-list list-unstyled d-flex flex-wrap border-bottom border-white pb-6 mb-10">
                        <li class="label-item">
                          <a href="#" class="label-link">網頁設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">響應式設計</a>
                        </li>
                        <li class="label-item">
                          <a href="#" class="label-link">WordPress</a>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-dark btn-lg d-block mx-auto px-8 py-4">
                        <div class="d-flex align-items-center">
                          <span class="me-2">完整介紹</span>
                          <span class="material-symbols-rounded">arrow_forward</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </main>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
