<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head'); -%>
  <body>
    <%- include('./layout/header'); -%>

    <main class="pt-14 pt-md-24">
      <div class="container">
        <div class="intro mb-12">
          <h2 class="intro-title fs-5 lh-base text-center mx-auto mb-10 mb-md-20">
            <p class="mb-2">讓使用者在觀賞與使用的旅程中，發現<span class="intro-title-decoration">設計的價值</span></p>
            <p class="mb-0">而我在設計與開發的過程中，看見<span class="intro-title-decoration">自己的價值</span></p>
          </h2>
          <ul class="intro-list list-unstyled d-flex flex-column flex-md-row mx-auto">
            <li class="intro-item text-center px-3 mb-5 mb-md-0">
              <h3 class="intro-item-title fs-6 text-gray-600">2B 經驗</h3>
              <p class="intro-item-content text-gray-700">內部監控系統、庫存系統、採購系統、行銷整合系統</p>
            </li>
            <li class="intro-item text-center px-3">
              <h3 class="intro-item-title fs-6 text-gray-600">2C 經驗</h3>
              <p class="intro-item-content text-gray-700">跨國美妝保養電商、個人品牌網站、醫美網站、電子商務</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="container pt-20 pt-md-30">
        <ul class="row list-unstyled mb-0">
          <li class="col-md-6 mb-12 mb-md-16">
            <div class="project-card card h-100 border rounded-3">
              <div class="project-toggler d-block" data-bs-toggle="modal" data-bs-target="#projectModal">
                <div class="card-head">
                  <img src="/assets/images/work-image-1.png" alt="portfolio image" class="card-image rounded-3" />
                </div>
                <div class="card-body">
                  <h2 class="card-title fs-5 fw-bold">星際旅行訂票平台</h2>
                  <p class="card-content text-gray-500 mb-2">悠遊宇宙的夢想，從這裡開始實現</p>
                </div>
              </div>
              <div class="card-label px-4 mt-auto">
                <ul class="label-list list-unstyled d-flex flex-wrap">
                  <li class="label-item">
                    <a href="#" class="label-link">網頁設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">響應式設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">Bootstrap</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-md-6 mb-12 mb-md-16">
            <div class="project-card card h-100 border rounded-3">
              <div class="project-toggler d-block" data-bs-toggle="modal" data-bs-target="#projectModal">
                <div class="card-head">
                  <img src="/assets/images/work-image-2.png" alt="portfolio image" class="card-image rounded-3" />
                </div>
                <div class="card-body">
                  <h2 class="card-title fs-5 fw-bold">理財 App</h2>
                  <p class="card-content text-gray-500 mb-2">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
                </div>
              </div>
              <div class="card-label px-4 mt-auto">
                <ul class="label-list list-unstyled d-flex flex-wrap">
                  <li class="label-item">
                    <a href="#" class="label-link">APP 設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">iOS</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">React</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-md-6 mb-12 mb-md-16">
            <div class="project-card card h-100 border rounded-3">
              <div class="project-toggler d-block" data-bs-toggle="modal" data-bs-target="#projectModal">
                <div class="card-head">
                  <img src="/assets/images/work-image-3.png" alt="portfolio image" class="card-image rounded-3" />
                </div>
                <div class="card-body">
                  <h2 class="card-title fs-5 fw-bold">醫美診所官網</h2>
                  <p class="card-content text-gray-500 mb-2">永保青春的秘密，從粹究開始</p>
                </div>
              </div>
              <div class="card-label px-4 mt-auto">
                <ul class="label-list list-unstyled d-flex flex-wrap">
                  <li class="label-item">
                    <a href="#" class="label-link">網頁設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">響應式設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">WordPress</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-md-6 mb-12 mb-md-16">
            <div class="project-card card h-100 border rounded-3">
              <div class="project-toggler d-block" data-bs-toggle="modal" data-bs-target="#projectModal">
                <div class="card-head">
                  <img src="/assets/images/work-image-4.png" alt="portfolio image" class="card-image rounded-3" />
                </div>
                <div class="card-body">
                  <h2 class="card-title fs-5 fw-bold">美美美早餐店 POS 機 UI Design</h2>
                  <p class="card-content text-gray-500 mb-2">訂單送單一目瞭然，自動報表分析好輕鬆</p>
                </div>
              </div>
              <div class="card-label px-4 mt-auto">
                <ul class="label-list list-unstyled d-flex flex-wrap">
                  <li class="label-item">
                    <a href="#" class="label-link">UI 設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">前端開發</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">Wix</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-md-6 mb-12 mb-md-16">
            <div class="project-card card h-100 border rounded-3">
              <div class="project-toggler d-block" data-bs-toggle="modal" data-bs-target="#projectModal">
                <div class="card-head">
                  <img src="/assets/images/work-image-5.png" alt="portfolio image" class="card-image rounded-3" />
                </div>
                <div class="card-body">
                  <h2 class="card-title fs-5 fw-bold">電影院訂票系統</h2>
                  <p class="card-content text-gray-500 mb-2">三步驟完成訂票，電腦手機都支援</p>
                </div>
              </div>
              <div class="card-label px-4 mt-auto">
                <ul class="label-list list-unstyled d-flex flex-wrap">
                  <li class="label-item">
                    <a href="#" class="label-link">前端開發</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">後端支援</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">Vue</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-md-6 mb-12 mb-md-16">
            <div class="project-card card h-100 border rounded-3">
              <div class="project-toggler d-block" data-bs-toggle="modal" data-bs-target="#projectModal">
                <div class="card-head">
                  <img src="/assets/images/work-image-6.png" alt="portfolio image" class="card-image rounded-3" />
                </div>
                <div class="card-body">
                  <h2 class="card-title fs-5 fw-bold">巧克巧克形象官網設計</h2>
                  <p class="card-content text-gray-500 mb-2">打造專屬於企業品牌的代言人，凸顯企業品牌的獨特形象</p>
                </div>
              </div>
              <div class="card-label px-4 mt-auto">
                <ul class="label-list list-unstyled d-flex flex-wrap">
                  <li class="label-item">
                    <a href="#" class="label-link">UI 設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">系統設計</a>
                  </li>
                  <li class="label-item">
                    <a href="#" class="label-link">網路電商</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <nav aria-label="Page navigation" class="mb-20 mb-md-30">
        <ul class="pagination justify-content-center">
          <li class="page-item me-4"><a class="page-link" href="#">1</a></li>
          <li class="page-item me-4"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
    </main>

    <!-- modal -->
    <div class="modal fade" id="projectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close p-8" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="project-intro modal-body pt-6 pt-md-10 px-8 px-xl-14">
            <h3 class="project-title fs-3 fw-bold text-center mb-2">星際旅行訂票平台</h3>
            <h4 class="project-subtitle fs-6 fw-normal text-gray-500 text-center mb-6 mb-lg-10">悠遊宇宙的夢想，從這裡開始實現</h4>
            <div class="row flex-column flex-md-row justify-content-between mb-lg-30">
              <p class="project-content col-lg-6 mb-6 mb-lg-0">
                STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。<br />
                主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建置完畢，將再擴增目的地土星和金星。
              </p>
              <div class="project-remark col-lg-6 col-xl-4 text-gray-600 text-center text-lg-start">
                <div class="pt-6 pt-lg-0 mb-16 mb-lg-0">
                  <p class="text-nowrap">
                    設計原則：<br class="d-lg-none" />
                    宇宙旅行、深色背景、強烈視覺效果
                  </p>
                  <p>
                    開發方式：<br class="d-lg-none" />
                    Bootstrap、Javascript、RWD
                  </p>
                </div>
              </div>
            </div>
            <div class="project-demo">
              <div class="card border-0 mb-14">
                <img src="/assets/images/modal-image-1.png" class="project-modal-image card-img-top d-block rounded-3 mx-auto" alt="project demo image" />
                <div class="card-body">
                  <h5 class="card-title fw-bold text-center">主視覺</h5>
                  <p class="card-text text-gray-600 text-lg-center">可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</p>
                </div>
              </div>
              <div class="card border-0 mb-6">
                <img src="/assets/images/modal-image-2.png" class="project-modal-image card-img-top d-block rounded-3 mx-auto" alt="project demo image" />
                <div class="card-body">
                  <h5 class="card-title fw-bold text-center">推薦查詢</h5>
                  <p class="card-text text-gray-600 text-lg-center">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
